.music-bg-1 {
  background-image: url('./images/music-bg-1.jpg');
}
.music-gallery-1 { background-image: url('./images/gallery_1.jpg');}
.music-gallery-2 { background-image: url('./images/gallery_2.jpg');}
.music-gallery-3 { background-image: url('./images/gallery_3.jpg');}
.music-gallery-4 { background-image: url('./images/gallery_4.jpg');}
.music-gallery-5 { background-image: url('./images/gallery_5.jpg');}
.music-gallery-6 { background-image: url('./images/gallery_6.jpg');}
.music-gallery-7 { background-image: url('./images/gallery_7.jpg');}
.music-gallery-8 { background-image: url('./images/gallery_8.jpg');}
.music-gallery-9 { background-image: url('./images/gallery_9.jpg');}
.music-gallery-10 { background-image: url('./images/gallery_10.jpg');}
.music-gallery-11 { background-image: url('./images/gallery_11.jpg');}
.music-gallery-12 { background-image: url('./images/gallery_12.jpg');}
.music-gallery-13 { background-image: url('./images/gallery_13.jpg');}
.music-gallery-14 { background-image: url('./images/gallery_14.jpg');}
.music-gallery-15 { background-image: url('./images/gallery_15.jpg');}
.music-gallery-16 { background-image: url('./images/gallery_16.jpg');}
.music-gallery-17 { background-image: url('./images/gallery_17.jpg');}
.music-gallery-18 { background-image: url('./images/gallery_18.jpg');}
.music-gallery-19 { background-image: url('./images/gallery_19.jpg');}
.music-gallery-20 { background-image: url('./images/gallery_20.jpg');}

.music-icon {
  max-width: 120px !important;
  max-height: 100px !important;
  margin-top: 100px !important;
  margin: 0 auto;
}
.thumbnail-gallery {
  background-repeat:no-repeat;
  background-size:contain;
  height: 400px;
}
.gallery-image {
  margin-bottom:20px;
}
