@import '../../../node_modules/foundation-sites/scss/foundation';

.downstairs-menu-title {
  background-image: url('./images/downstairs_for_menu.png');
  max-width: 200px;
  margin: 0 auto;
  margin-top: 12px;
  padding-top:10px;
}

.columns.xs-padding-sides{
  &:not(:first-child) {
    padding-left: 0.12rem !important;
  }
  &:not(:last-child) {
    padding-right: 0.12rem !important;
  }
}
.xl-padding {
  padding: 30px 80px !important;
}
.main-container {
  border:none;
  &::hover {
    cursor:poiner;
    background: transperent;
  }
}
.aria-up-size {
  height: 120px;
  width: 120px;
}
.gold-subtitle {
  text-transform: uppercase;
  color:#aba26e; //$gold-color;
  margin-bottom: 30px;
  margin-top:10px;
  font-size:1.2em;
  letter-spacing: 1px;
}
.downstairs-info-desc {
  font-size: 1em;
  text-align: center;
}
.tabs-component {
  .content-body-wrap {
    transition: all 0.3s;
    opacity: 1;
  }

  &.gallery {
    opacity: 0.6;
    .content-body-wrap {
      opacity: 0;
      max-height: 0;
    }
  }
  .action-btn-wrap {
    position: relative;
    .action-btn-inner {
      position: absolute;
      left:-1px;
      right:87px;
    }
    .facebook-btn {
      position: absolute;
      right: 28px;
    }
    .instagram-btn {
      position: absolute;
      right: -14px;
    }
  }
}

.menu-title {
  font-size:16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.menu-subtitle {
  font-size:18px;
  text-transform: capitalize;
}

.gallery-icons {
  .icon-arrow_left {
    cursor: pointer;
    opacity: 0.7;
    position: absolute;
    left:30px;
    top:50%;
    height: 70px;
    width:35px;
    margin-top: -35px;
    &:hover {
      opacity: 1;
    }
  }
  .icon-arrow_right {
    cursor: pointer;
    opacity: 0.7;
    position: absolute;
    right:30px;
    top:50%;
    height: 70px;
    width:35px;
    margin-top: -35px;
    &:hover {
      opacity: 1;
    }
  }


}
.downstairs-bg {
  background-image: url('./images/downstairs-bg.jpg');
}
.downstairs-wine-bg {
  background-image: url('../upstairs/images/upstairs-wine.jpg');
}
.downstairs-main-bg {
  background-image: url('../upstairs/images/upstairs-main.jpg');
}
.downstairs-entrees-bg {
  background-image: url('../upstairs/images/upstairs-entrees.jpg');
}
.downstairs-cocktails-bg {
  background-image: url('../upstairs/images/upstairs-cocktails.jpg');
}
.downstairs-alcohol-bg {
  background-image: url('../upstairs/images/upstairs-alcohol.jpg');
}
.downstairs-desserts-bg {
  background-image: url('../upstairs/images/upstairs-desserts.jpg');
}
.downstairs-gallery-1 {
  background-image: url('./images/gallery_down01.jpg');
}
.downstairs-gallery-2 {
  background-image: url('./images/gallery_down02.jpg');
}
.downstairs-gallery-3 {
  background-image: url('./images/gallery_down03.jpg');
}
.downstairs-gallery-4 {
  background-image: url('./images/gallery_down04.jpg');
}
.downstairs-gallery-5 {
  background-image: url('./images/gallery_down05.jpg');
}
