@import '../../../node_modules/foundation-sites/scss/foundation';

.downstairs-menu-title {
  background-image: url('./images/downstairs_for_menu.png');
  max-width: 200px;
  margin: 0 auto;
  margin-top: 12px;
  padding-top:10px;
}

.columns.xs-padding-sides{
  &:not(:first-child) {
    padding-left: 0.12rem !important;
  }
  &:not(:last-child) {
    padding-right: 0.12rem !important;
  }
}
.xl-padding {
  padding: 30px 80px !important;
}
.main-container {
  border:none;
  &::hover {
    cursor:poiner;
    background: transperent;
  }
}
.aria-up-size {
  height: 120px;
  width: 120px;
}
.gold-subtitle {
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top:10px;
  font-size:1.2em;
  letter-spacing: 1px;
}
.downstairs-info-desc {
  font-size: 1em;
  text-align: center;
}
.tabs-component {
  .content-body-wrap {
    transition: all 0.3s;
    opacity: 1;
  }

  &.gallery {
    opacity: 0.6;
    .content-body-wrap {
      opacity: 0;
      max-height: 0;
    }
  }
  .action-btn-wrap {
    position: relative;
    .action-btn-inner {
      position: absolute;
      left:-1px;
      right:87px;
    }
    .facebook-btn {
      position: absolute;
      right: 28px;
    }
    .instagram-btn {
      position: absolute;
      right: -14px;
    }
  }
}
.tab-menu {
  display: inline-block;
  width: 170px;
  padding: 0 2px;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}

.menu-title {
  font-size:16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.menu-subtitle {
  font-size:18px;
  text-transform: capitalize;
}


.downstairs-bg {
  background-image: url('./images/downstairs-bg.jpg');
}
.downstairs-wine-bg {
  background-image: url('../upstairs/images/upstairs-wine.jpg');
}
.downstairs-main-bg {
  background-image: url('../upstairs/images/upstairs-main.jpg');
}
.downstairs-entrees-bg {
  background-image: url('../upstairs/images/upstairs-entrees.jpg');
}
.downstairs-cocktails-bg {
  background-image: url('../upstairs/images/upstairs-cocktails.jpg');
}
.downstairs-alcohol-bg {
  background-image: url('../upstairs/images/upstairs-tom.jpg');
}
.downstairs-desserts-bg {
  background-image: url('../upstairs/images/upstairs-desserts.jpg');
}
.downstairs-gallery-1 {
  background-image: url('./images/gallery_down1.jpg');
}
.downstairs-gallery-2 {
  background-image: url('./images/gallery_down2.jpg');
}
.downstairs-gallery-3 {
  background-image: url('./images/gallery_down3.jpg');
}
.downstairs-gallery-4 {
  background-image: url('./images/gallery_down4.jpg');
}
.downstairs-gallery-5 {
  background-image: url('./images/gallery_down5.jpg');
}
.downstairs-gallery-6 {
  background-image: url('./images/gallery_down6.jpg');
}
.downstairs-gallery-7 {
  background-image: url('./images/gallery_down7.jpg');
}
.downstairs-gallery-8 {
  background-image: url('./images/gallery_down8.jpg');
}
.downstairs-gallery-9 {
  background-image: url('./images/gallery_down9.jpg');
}
.downstairs-gallery-10 {
  background-image: url('./images/gallery_down10.jpg');
}
.downstairs-gallery-11 {
  background-image: url('./images/gallery_down11.jpg');
}
