.events_bg1 {
  background-image: url('./images/events-bg-1.jpg');
}
.events_bg2 {
  background-image: url('./images/events-bg-2.jpg');
}
.events_bg3 {
  background-image: url('./images/events-bg-3.jpg');
}
.events_bg4 {
  background-image: url('./images/events-bg-4.jpg');
}
