.contcat-us-btn-wrap {
  margin-top:30px;
  .content-box-btn {
    font-weight: bold;
    padding: 5px 15px;
  }
}

.team_bg1 {
  background-image: url('./images/Team1.jpg');
}
.team_bg2 {
  background-image: url('./images/Team2.jpg');
}
.team_bg3 {
  background-image: url('./images/Team3.jpg');
}
.team_bg4 {
  background-image: url('./images/Team4.jpg');
}
.team_bg5 {
  background-image: url('./images/Team5.jpg');
}
.team_bg6 {
  background-image: url('./images/Team6.jpg');
}
.team_bg7 {
  background-image: url('./images/Team7.jpg');
}
