$text-color: black;
$gold-color: #aba26e;

@import './fonts';
@import '../../node_modules/foundation-sites/scss/foundation';

//fonts
.font-light {
  font-family: 'Montserrat-Light', Arial;
}
.font-Regular {
  font-family: 'Montserrat-Regular', Arial;
}
.font-ExBold {
  font-family: 'Montserrat-ExBold', Arial;
}
.font-SemiBold {
  font-weight: bold;
  font-family: 'Montserrat-SemiBold', Arial;
}
.font-heb {
  font-family: 'OEMeodedSansPro-Regular', Arial;
  direction: rtl;
}

.all-caps {
  text-transform: uppercase;
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  &.background-fade {
    transition: all 0.5s;
  }
}
.aria-logo {
  background-image: url('../../assets/icons/Logo_head_B.svg');
}
.upstairs-logo-b {
  background-image: url('../../assets/icons/UPSTAIRS_B.png');
  max-width: 250px;
  margin-top: 18px
}
.downstairs-logo-b {
  background-image: url('../../assets/icons/DOWNSTAIRS_B.png');
  max-width: 350px;
  margin-top: 20px
}

/* fullscreen setup */
html, body {
  /* give this to all tags from html to .fullscreen */
  height:100%;
  background-color: $gold-color;
  font-size: 14px;
}
body {
  margin:0;
  text-align:center;
  font-family: 'Montserrat-Regular', Arial;
  overflow-x: hidden;
  &:after {
    content: url('../../src/components/home/images/home_1.jpg') url('../../src/components/home/images/home_2.jpg') url('../../src/components/home/images/home_3.jpg')
    url('../../src/components/home/images/home_4.jpg') url('../../src/components/home/images/home_5.jpg') url('../../src/components/downstairs/images/downstairs-bg.jpg')
    url('../../src/components/events/images/events-bg-1.jpg') url('../../src/components/events/images/events-bg-2.jpg') url('../../src/components/events/images/events-bg-3.jpg')
    url('../../src/components/events/images/events-bg-4.jpg') url('../../src/components/team/images/team-bg-1.jpg') url('../../src/components/team/images/team-bg-2.jpg')
    url('../../src/components/team/images/team-bg-3.jpg') url('../../src/components/team/images/team-bg-4.jpg') url('../../src/components/team/images/team-bg-5.jpg')
    url('../../src/components/moments/bg_moments.jpg') url('../../src/components/music/images/music-bg-1.jpg') url('../../src/components/philosophy/philosophy_1.jpg')
    url('../../src/components/tripping/tripping-bg-1.jpg') url('../../src/components/upstairs/images/upstairs-bg.jpg')
    url('../../src/components/upstairs/images/upstairs-tom.jpg') url('../../src/components/upstairs/images/upstairs-cocktails.jpg') url('../../src/components/upstairs/images/upstairs-main.jpg')
    url('../../src/components/upstairs/images/upstairs-desserts.jpg') url('../../src/components/upstairs/images/upstairs-entrees.jpg') url('../../src/components/upstairs/images/upstairs-wine.jpg')
    url('../../src/components/upstairs/images/Gallery_UP1.jpg') url('../../src/components/upstairs/images/Gallery_UP2.jpg') url('../../src/components/upstairs/images/Gallery_UP3.jpg') url('../../src/components/upstairs/images/Gallery_UP4.jpg')
    url('../../src/components/upstairs/images/Gallery_UP5.jpg') url('../../src/components/upstairs/images/Gallery_UP6.jpg') url('../../src/components/upstairs/images/Gallery_UP7.jpg') url('../../src/components/upstairs/images/Gallery_UP8.jpg')
    url('../../src/components/upstairs/images/Gallery_UP9.jpg') url('../../src/components/upstairs/images/Gallery_UP10.jpg') url('../../src/components/upstairs/images/Gallery_UP11.jpg') url('../../src/components/upstairs/images/Gallery_UP12.jpg')
    url('../../src/components/downstairs/images/gallery_down1.jpg') url('../../src/components/downstairs/images/gallery_down2.jpg') url('../../src/components/downstairs/images/gallery_down3.jpg')
    url('../../src/components/downstairs/images/gallery_down4.jpg') url('../../src/components/downstairs/images/gallery_down5.jpg') url('../../src/components/downstairs/images/gallery_down6.jpg')
    url('../../src/components/downstairs/images/gallery_down7.jpg') url('../../src/components/downstairs/images/gallery_down8.jpg') url('../../src/components/downstairs/images/gallery_down9.jpg')
    url('../../src/components/downstairs/images/gallery_down10.jpg') url('../../src/components/downstairs/images/gallery_down11.jpg');
    position: absolute;
    right: 1000000px;
    display: none;
  }
}
#root {
  height:100%;
}
.height100 {
  height:100%;
}
.page-wrap {
  height:100vh;

  &.theme-B {
    border: 10px solid black;
  }
  &.theme-W {
    border: 10px solid white;
  }
  @include breakpoint(medium up) {
    overflow: hidden;
  }
}
.social-media-btn {
  width: 40px;
  height: 40px;
  &.instagram-btn {
    padding: 8px !important;
  }
  &.facebook-btn {
    padding: 8px 10px 8px 14px !important;
  }
}

.main-container {
  padding: 10px 20px 30px !important;

  @include breakpoint(medium up) {
    height: 45vh;
    max-height: 850px;
    overflow-y: auto;
    padding: 20px 80px 40px !important;
  }
}
.fade-bottom{
  @include breakpoint(medium up) {
    position: absolute;
    left: 14px;
    right: 14px;
    bottom: 0;
    height: 80px;
    background: #fff;
    background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,.8)90%,#fff);
  }
}
.content-box {
  position: relative;
  padding:6px 10px 7px;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border: 2px solid #aba26e;
  margin:2px;
  cursor: pointer;
  &.dark {
    background-color: rgba(0, 0, 0, 0.6);
    color:#fff;
  }
  &:hover, &.selected, &.dark:hover {
    background-color: rgba(171, 162, 110, 0.8);
    color:#fff !important;
    border-color:#fff;
    .content-box-title {
      color:#fff !important;
    }
  }
  &.content-box-no-hover {
    cursor: default;
  }
  &.content-box-no-hover:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: #000 !important;
    .content-box-title {
      color:#000 !important;
    }
  }
  &.content-box-no-hover.dark:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color:#fff !important;
    .content-box-title {
      color:#fff !important;
    }
  }
  &.content-box-page {
    border: none;

    .icon-logo {
      max-width:170px;
      max-height: 200px;
      margin-top: 20px;
    }
    .page-title {
      text-transform: uppercase;
      font-size:1.2em;
      letter-spacing: 0.8px;
    }
    .page-text {
      font-size:1em;
      padding-top:30px;
      text-align: center;
    }
    @include breakpoint(small down) {
      padding: 20px 10px;
    }
    @include breakpoint(medium up) {
      padding:60px;
      height: 55vh;
      max-height: 55vh;
      overflow: auto;
    }
  }

  &:last-child {
    margin-right:0;
  }
  &:first-child {
    margin-left:0;
  }

  &.cb-big {
    width: 509px;
    height: 152px;
    .center-icon {
      margin: 0 auto;
      margin-top:24px;
    }
  }
  &.cb-big-narrow {
    width: 397px;
    height: 52px;
  }
  &.cb-medium {
    width: 246px;
    height: 106px;
  }
  &.cb-medium-narrow {
    width: 246px;
    height: 52px;
  }
  &.cb-small-cube {
    width: 42px;
    height: 42px;
    .center-icon {
      margin: 0 auto;
      margin-top:4px;
    }
  }

  &.content-box-dark {
    background-color: black;
    .content-box-title {
      color: #fff;
    }
  }
  .content-box-title {
    padding: 0;
    margin: 0;
    opacity: 1;
    font-size: 2.4em;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    &.content-box-title-small {
      font-size: 1em;
      margin-top: 2px;
    }

  }

  .content-box-subtitle {
    padding: 0;
    margin: 0;
    opacity: 1;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
}

.content-page-wrap {
  padding-top:170px;

  @include breakpoint(small down) {
    padding-top:110px;
    .action-btn-inner {
      position: relative !important;
    }
  }
  @include breakpoint(medium up) {
    .moments-club-wrap {
      padding-right:3px;
    }
    .gift-card-wrap {
      padding-left: 0.12rem !important;
      padding-right: 0.12rem !important;
    }
  }
  .action-btn-wrap {
    position: relative;
    height: 50px;
    .action-btn-inner {
      position: absolute;
      left:-1px;
      right:58px;
    }
    .mail-btn {
      position: absolute;
      right: 0;
      padding: 8px 5px;
    }
  }
}
.logo-head {
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -80px;
  z-index: 9999999;
  @include breakpoint(small down) {
    margin-left: -55px;
    width: 110px !important;
  }
}

.action-btn-wrap-flex {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  .table-btn {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0!important;
    line-height: 34px;
  }
  .social-media-btn {
    -webkit-flex: 0 0 40px;
    flex: 0 0 40px;
  }
}

a {
  width: inherit;
  height: inherit;
  color: $text-color;
  &:hover, &:active {
    color: $text-color;
  }
}
.color-gold {
  color: $gold-color;
  &:hover {
    color:#fff;
  }
}
.margin-top {
  margin-top: 40px;
}
.no-margin-right {
  margin-right:0 !important;
}
.no-margin-left {
  margin-left:0 !important;
}
.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}
.small-padding-right {
  padding-right:3px;
}
.small-padding-left {
  padding-left:3px;
}
.lg-padding {
  padding:50px;
}
.pad-bottom-lg {
  padding-bottom:60px;
}
.pad-bottom-xlg {
  padding-bottom:120px;
}
.centered {
  margin: 0 auto;
}
.no-space {
  padding:0 !important;
  margin:0 !important;
}

.content-box-btn{
  text-transform: uppercase;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #aba26e;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
  &:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}

// icons
.SVGIcon {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: contain;

  /* fix webkit/blink poor rendering issues */
  transform: translate3d(0,0,0);
}


// Animation
.animated-fast {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.moveUp-enter {
  position: absolute;
  left:0;
  right:0;
  transition: transform .9s ease-in-out !important;
  transform: translate3d(0,100%,0);
  z-index: 10000;
  opacity:1;
}

.moveUp-enter.moveUp-enter-active {
  transform: translate3d(0,0,0);
}

.moveUp-leave {
  position: absolute;
  left:0;
  right:0;
  transition: transform .9s ease-in-out !important;
  transform: translate3d(0,0,0);
  opacity:1;
}

.moveUp-leave.moveUp-leave-active {
  transform: translate3d(0,-100%,0);
}

.moveDown-enter {
  position: absolute;
  left:0;
  right:0;
  transition: transform .9s ease-in-out !important;
  transform: translate3d(0,-100%,0);
  z-index: 10000;
  opacity:1;
}

.moveDown-enter.moveDown-enter-active {
  transform: translate3d(0,0,0);
}

.moveDown-leave {
  position: absolute;
  left:0;
  right:0;
  transition: transform .9s ease-in-out !important;
  transform: translate3d(0,0,0);
  opacity: 1;
}

.moveDown-leave.moveDown-leave-active {
  transform: translate3d(0,100%,0);
}

.fade-enter {
  opacity: 0.01;
  transition: opacity .1s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .1s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}

.pos-relative {
  position: relative;
}
.red-bg {
  background-color: red;
}
.anim-wrap {
  position:relative;
  width:100%;
  height:100%;
}

.vertical-menu-title {
  color: #fff;
  background-color: rgba(0, 0, 0, .8);
  margin: 0 !important;
}
.vertical-tabs {
  position: absolute;
  left: 13px;
  right: 15px;
  z-index: 99999;
  top: 35px;
  border:1px solid #fff;

  .vertical-menu-item {
    text-transform: uppercase;
    border: none !important;
    border-bottom:1px solid #fff !important;
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
    margin: 0 !important;
  }
}
.menuitem-description {
  margin-bottom: 15px;
}
.no-margin {
  margin-bottom: 0 !important;
}
