@import '../../node_modules/foundation-sites/scss/foundation';

.tabs-component {
  padding-top:160px;

  .tabs-header {
    height:60px;
  }
  .tab-btn {
    height:36px;
    font-size: 0.9em;
  }

  @include breakpoint(small down) {
    padding-top:100px;
  }
}
