@import '../../../node_modules/foundation-sites/scss/foundation';

.home_bg1 {
  background-image: url('./images/Home_ARIA01.jpg');
}
.home_bg2 {
  background-image: url('./images/Home_ARIA02.jpg');
}
.home_bg3 {
  background-image: url('./images/Home_ARIA03.jpg');
}
.home_bg4 {
  background-image: url('./images/Home_ARIA04.jpg');
}
.home_bg5 {
  background-image: url('./images/Home_ARIA05.jpg');
}
.home_bg6 {
  background-image: url('./images/Home_ARIA06.jpg');
}
.home_bg7 {
  background-image: url('./images/Home_ARIA07.jpg');
}
.home_bg8 {
  background-image: url('./images/Home_ARIA08.jpg');
}
.home_bg9 {
  background-image: url('./images/Home_ARIA09.jpg');
}
.home_bg10 {
  background-image: url('./images/Home_ARIA10.jpg');
}

.home-btns-wrap {
  padding: 180px 15px 0;
  max-width: 400px;
  margin: 0 auto;

  @include breakpoint(small down) {
    padding: 120px 15px 0;
    .home-btn {
      height:82px !important;
      padding: 0 10px !important;
      .upstairs-logo-b {
        max-width: 150px !important;
      }
      .downstairs-logo-b {
        max-width: 200px !important;
        margin-top:20px !important;
      }
    }
  }

  @include breakpoint(medium up) {
    .home-btn {
      height:100px;
      .upstairs-logo-b {
        max-width: 190px !important;
      }
      .downstairs-logo-b {
        max-width: 230px !important;
        margin-top:23px;
      }
    }
  }
}
.bottom-btns {
  padding: 40px 15px 0;
  max-width: 400px;
  margin: 0 auto;
  min-height: 140px;
  .bottom-btn {
    height:42px;
  }
  .bottom-btn-big {
    height:84px;
  }
  @include breakpoint(small down) {
    padding: 30px 15px 0;
    min-height: 110px;
    .bottom-btn {
      font-size:0.8em;
      padding-top: 8px;
    }
  }
}

.downstairs-box {
  padding-top: 30px;
}
.overlay-toggle-btn {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  border: none;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 99999999;
}

.home-moments-link {
  max-width: 120px;
  margin: 0 auto;
}
