@import '../../../node_modules/foundation-sites/scss/foundation';

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}


.gallery-images-wrap {
  width: 100%;
  @include breakpoint(medium up) {
    position: absolute;
    bottom:100px;
  }
}
.gallery-item {
  cursor: pointer;
  .gallery-item-img-wrap {
    border:1px solid #fff;
    overflow: hidden;
    margin: 4px;
    @include breakpoint(small down) {
      margin-top: 20px;
    }
  }
  .dark-layer {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  &.active, &:hover {
    img {
      opacity:1;
    }
    .dark-layer {
      opacity: 0;
    }
  }
}

.slick-prev {
  background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22arrow_left-Design%22%20viewBox%3D%220%200%2050.21%2089.92%22%20width%3D%2250%22%20height%3D%2290%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Earrow_left%3C%2Ftitle%3E%3Cpolygon%20points%3D%2226.79%2089.92%200%2045.59%200%2044.33%2026.53%200%2029.97%202.06%204.29%2044.95%2030.21%2087.85%22%20class%3D%22cls-1%22%2F%3E%3Cpolygon%20points%3D%2246.79%2089.92%2020%2045.59%2020%2044.33%2046.53%200%2049.97%202.06%2024.29%2044.95%2050.21%2087.85%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E');
  background-repeat:no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: contain;
  transform: translate3d(0,0,0);
  cursor: pointer;
  opacity: 0.7;
  position: absolute;
  left:-50px;
  top:55%;
  height: 70px;
  width:35px;
  margin-top: -35px;
  &:hover {
    opacity: 1;
  }
}
.slick-next {
  background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22arrow_right-Design%22%20viewBox%3D%220%200%2049.97%2089.91%22%20width%3D%2250%22%20height%3D%2290%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Earrow_right%3C%2Ftitle%3E%3Cpolygon%20points%3D%2223.56%2089.91%2020.12%2087.86%2045.68%2044.96%2020%202.06%2023.43%200%2049.97%2044.33%2049.97%2045.58%22%20class%3D%22cls-1%22%2F%3E%3Cpolygon%20points%3D%223.56%2089.91%200.12%2087.86%2025.68%2044.96%200%202.06%203.43%200%2029.97%2044.33%2029.97%2045.58%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E');
  background-repeat:no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: contain;
  transform: translate3d(0,0,0);
  cursor: pointer;
  opacity: 0.7;
  position: absolute;
  right:-50px;
  top:55%;
  height: 70px;
  width:35px;
  margin-top: -35px;
  &:hover {
    opacity: 1;
  }
}
