//@import '../../styles/main/style.scss';

.upstairs-menu-title {
  background-image: url('./images/upstairs_for_menu.png');
  max-width: 200px;
  margin: 0 auto;
  margin-top: 8px;
}

.columns.xs-padding-sides{
  &:not(:first-child) {
    padding-left: 0.12rem !important;
  }
  &:not(:last-child) {
    padding-right: 0.12rem !important;
  }
}
.xl-padding {
  padding: 30px 80px !important;
}
.main-container {
  border:none;
  &::hover {
    cursor:poiner;
    background: transperent;
  }
}
.aria-up-size {
  height: 120px;
  width: 120px;
}
.gold-subtitle {
  text-transform: uppercase;
  color:#aba26e; //$gold-color;
  margin-bottom: 30px;
  margin-top:10px;
  font-size:1.2em;
  letter-spacing: 1px;
}
.upstairs-info-desc {
  font-size: 1em;
  text-align: center;
}
.tabs-component {
  .content-body-wrap {
    transition: all 0.3s;
    opacity: 1;
    max-height:45vh;
  }

  &.gallery {
    opacity: 0.6;
    .content-body-wrap {
      opacity: 0;
      max-height: 0;
    }
  }
  .action-btn-wrap {
    position: relative;
    .action-btn-inner {
      position: absolute;
      left:-1px;
      right:87px;
    }
    .facebook-btn {
      position: absolute;
      right: 28px;
    }
    .instagram-btn {
      position: absolute;
      right: -14px;
    }
  }
}

.menu-title {
  font-size:16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.menu-subtitle {
  font-size:18px;
  text-transform: capitalize;
}

.gallery-icons {
  .icon-arrow_left {
    cursor: pointer;
    opacity: 0.7;
    position: absolute;
    left:30px;
    top:50%;
    height: 70px;
    width:35px;
    margin-top: -35px;
    &:hover {
      opacity: 1;
    }
  }
  .icon-arrow_right {
    cursor: pointer;
    opacity: 0.7;
    position: absolute;
    right:30px;
    top:50%;
    height: 70px;
    width:35px;
    margin-top: -35px;
    &:hover {
      opacity: 1;
    }
  }


}
.upstairs-bg {
  background-image: url('./images/upstairs-bg.jpg');
}
.upstairs-wine-bg {
  background-image: url('./images/upstairs-wine.jpg');
}
.upstairs-main-bg {
  background-image: url('./images/upstairs-main.jpg');
}
.upstairs-entrees-bg {
  background-image: url('./images/upstairs-entrees.jpg');
}
.upstairs-cocktails-bg {
  background-image: url('./images/upstairs-cocktails.jpg');
}
.upstairs-alcohol-bg {
  background-image: url('./images/upstairs-alcohol.jpg');
}
.upstairs-desserts-bg {
  background-image: url('./images/upstairs-desserts.jpg');
}
.upstairs-gallery-1 {
  background-image: url('./images/Gallery_UP01.jpg');
}
.upstairs-gallery-2 {
  background-image: url('./images/Gallery_UP02.jpg');
}
.upstairs-gallery-3 {
  background-image: url('./images/Gallery_UP03.jpg');
}
.upstairs-gallery-4 {
  background-image: url('./images/Gallery_UP04.jpg');
}
.upstairs-gallery-5 {
  background-image: url('./images/Gallery_UP05.jpg');
}
.upstairs-gallery-6 {
  background-image: url('./images/Gallery_UP06.jpg');
}
.upstairs-gallery-7 {
  background-image: url('./images/Gallery_UP07.jpg');
}
