@import '../../../node_modules/foundation-sites/scss/foundation';

.upstairs-menu-title {
  background-image: url('./images/upstairs_for_menu.png');
  max-width: 200px;
  margin: 0 auto;
  margin-top: 8px;
}

.columns.xs-padding-sides{
  &:not(:first-child) {
    padding-left: 0.12rem !important;
  }
  &:not(:last-child) {
    padding-right: 0.12rem !important;
  }
}
.xl-padding {
  padding: 30px 80px !important;
}
.main-container {
  border:none;
  &::hover {
    cursor:poiner;
    background: transperent;
  }
}
.aria-up-size {
  height: 120px;
  width: 120px;
}

.upstairs-info-desc {
  font-size: 1em;
  text-align: center;
}
.tabs-component {
  .content-body-wrap {
    transition: all 0.3s;
    opacity: 1;
    @include breakpoint(medium up) {
      max-height:54vh;
    }
  }

  &.gallery {
    opacity: 0.6;
    .content-body-wrap {
      opacity: 0;
      max-height: 0;
    }
  }
  .action-btn-wrap {
    position: relative;
    .action-btn-inner {
      position: absolute;
      left:-1px;
      right:87px;
    }
    .facebook-btn {
      position: absolute;
      right: 28px;
    }
    .instagram-btn {
      position: absolute;
      right: -14px;
    }
  }
}

.menu-title {
  font-size:16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.menu-subtitle {
  font-size:18px;
  text-transform: capitalize;
}

.upstairs-bg {
  background-image: url('./images/upstairs-bg.jpg');
}
.upstairs-wine-bg {
  background-image: url('./images/upstairs-wine.jpg');
}
.upstairs-main-bg {
  background-image: url('./images/upstairs-main.jpg');
}
.upstairs-entrees-bg {
  background-image: url('./images/upstairs-entrees.jpg');
}
.upstairs-cocktails-bg {
  background-image: url('./images/upstairs-cocktails.jpg');
}
.upstairs-alcohol-bg {
  background-image: url('./images/upstairs-tom.jpg');
}
.upstairs-desserts-bg {
  background-image: url('./images/upstairs-desserts.jpg');
}
.upstairs-gallery-1 {
  background-image: url('./images/Gallery_UP1.jpg');
}
.upstairs-gallery-2 {
  background-image: url('./images/Gallery_UP2.jpg');
}
.upstairs-gallery-3 {
  background-image: url('./images/Gallery_UP3.jpg');
}
.upstairs-gallery-4 {
  background-image: url('./images/Gallery_UP4.jpg');
}
.upstairs-gallery-5 {
  background-image: url('./images/Gallery_UP5.jpg');
}
.upstairs-gallery-6 {
  background-image: url('./images/Gallery_UP6.jpg');
}
.upstairs-gallery-7 {
  background-image: url('./images/Gallery_UP7.jpg');
}
.upstairs-gallery-8 {
  background-image: url('./images/Gallery_UP8.jpg');
}
.upstairs-gallery-9 {
  background-image: url('./images/Gallery_UP9.jpg');
}
.upstairs-gallery-10 {
  background-image: url('./images/Gallery_UP10.jpg');
}
.upstairs-gallery-11 {
  background-image: url('./images/Gallery_UP11.jpg');
}
.upstairs-gallery-12 {
  background-image: url('./images/Gallery_UP12.jpg');
}
